<b>1.What are the two values of the Boolean data type? How do you write them?</b>

- We can write boolean values as True and False

<b>2. What are the three different types of Boolean operators?</b>

- and, or, not

<b>3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean
values for the operator and what it evaluate ).</b>

<table>
    <tr>
        <th>Operator</th>
        <th>Description</th>
        <th>Expression</th>
        <th>Output</th>   
    </tr>
    <tr> <td colspan=4 style="text-align:center;color:blue"><b>Comparison Operators</b></td> </tr>
    <tr>
        <td>Equal</td>
        <td>Compare values</td>
        <td>1==1, 1==2</td>
        <td>True, False</td>
    </tr>
    <tr>
        <td>Not Equal</td>
        <td>Compare values that are not equal</td>
        <td>1!=3, 1!=1</td>
        <td>True, False</td>
    </tr>
    <tr>
        <td>Greater Than</td>
        <td>Compare first operand is greater than or not with second operand</td>
        <td>5&#62;3, 3&#62;5</td>
        <td>True, False</td>
    </tr>
    <tr>
        <td>Less Than</td>
        <td>Compare first operand is less than or not with second operand</td>
        <td> 3&#60;5, 5&#60;3 </td>
        <td>True, False</td>
    </tr>
    <tr>
        <td>Greater than or equal to</td>
        <td>Compare first operand is greater than or equal with second operand</td>
        <td> 5>=5, 3>=5 </td>
        <td>True, False</td>
    </tr>
    <tr>
        <td>Less than or equal to</td>
        <td>Compare first operand is less than or equal with second operand</td>
        <td> 1<=5, 5<=1 </td>
        <td>True, False</td>
    </tr>
    <tr> <td colspan=4 style="text-align:center;color:blue"><b>Logical Operators</b></td> </tr>
    <tr>
        <td>and</td>
        <td>return True if both statements are true otherwise return False</td>
        <td> 1 < 5 and  5 < 10 <b>|</b> 10 < 5 and  5 < 10 </td>
        <td>True <b>|</b> False</td>
    </tr>
    <tr>
        <td>or</td>
        <td>return True if any statements are true, return False if both statements are false</td>
        <td> 1 < 5 or  15 < 10 <b>|</b> 10 < 5 or  15 < 10 </td>
        <td>True <b>|</b> False</td>
    </tr>
    <tr>
        <td>not</td>
        <td>return reverse result of an expression</td>
        <td> not(15 < 5) <b>|</b> not(5 < 15) </td>
        <td>True <b>|</b> False</td>
    </tr>
    <tr> <td colspan=4 style="text-align:center;color:blue"><b>Identity Operators</b></td> </tr>
    <tr>
        <td>is</td>
        <td>Returns True if both variables are the same object</td>
        <td>
            <br>x = ["apple", "banana"]
            <br>y = ["apple", "banana"]
            <br>z = x 
            <br>x is z , x is y
        </td>   
        <td>True , False</td>
    </tr>
    <tr>
        <td>is not</td>
        <td>Returns True if both variables are not the same object</td>
        <td>
            <br>x = ["apple", "banana"]
            <br>y = ["apple", "banana"]
            <br>z = x 
            <br>x is not y , x is not z
        </td>   
        <td>True , False</td>
    </tr>
    <tr> <td colspan=4 style="text-align:center;color:blue"><b>Membership Operators</b></td> </tr>
    <tr>
        <td>in</td>
        <td>Returns True if a sequence with the specified value is present in the object</td>
        <td>
            <br>x = ["apple", "banana"]
            <br>print("banana" in x) , print("mango" in x)            
        </td>   
        <td>True , False</td>
    </tr>
    <tr>
        <td>in</td>
        <td>Returns True if a sequence with the specified value is not present in the object</td>
        <td>
            <br>x = ["apple", "banana"]
            <br>print("mango" not in x) , print("apple" not in x)            
        </td>   
        <td>True , False</td>
    </tr>
</table>

In [19]:
1==1

True